/*home page*/
  #home{    
    margin: auto;
    min-width: 100vh;
    min-height: 100vw;
    margin-top: -20px;
    background: url("/icons/vancouver.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    }

  #home-content{
    background-color: rgba(255,255,255,0.9);
    border-color: #06204C;
    border-radius: 10px;
    border-style: solid;
    border-color: #06204C;
    border-width: 3px;
  }

  .height_40px{
    height: 40px
  }

  #home_logo {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 40px;
    height: 200px;
  }

  .intro-text{
    font-family: "Titillium Web",arial,sans-serif;
    font-size: 25px;
    line-height: 150%;
    margin-top: 20px;
  }

  #intro-text.parent{
    font-family: "Titillium Web",arial,sans-serif;
  }

  #feature-text{
    font-size: 20px;
    line-height: 150%;
    font-family: 'titillium web';
    display: table;
  }

  #feature-text div{    
    display: table-row;
  }

  #feature-text *{
    padding: 15px;
    margin: 0
  }

  #feature-text span{
    font-size: 30px;
    margin: 20px;
    display: table-cell;
    vertical-align: middle;
  }

  #signup-form{
    background-color: rgba(255,255,255,1);
  }
/*end of home page*/

.dropdown-list{
  margin: 0
}

.top_bar_list {
  margin: 0px
}

.dropdown-list {
  list-style: none
}

.top_bar{
  margin-bottom: 0px
}
/* Tooltip container */
.button-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.button-tooltip .button-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #616161;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    /*z-index: 1;*/


    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.button-tooltip:hover .button-tooltiptext {
    visibility: visible;
}
.listing-table-body .button-tooltip .button-tooltiptext {
    top: -207px;
    left: 200%;
    width: 208px;
    height: 204px;
}


.listing-table-body .button-tooltip .button-tooltiptext .popup-img{
  height: 75%;
  position: absolute;
}
.listing-table-body .button-tooltip .button-tooltiptext .popup-name{
  height:10px;
  top: 24px;
  left: 36%;
  font-size: 1.2em;
  }
.listing-table-body .button-tooltip .button-tooltiptext .popup-message-own{
  font-weight: bold;
  color: #9bcc50;
  font-size: 1.1em;
  position: absolute;
  bottom: -9%;
  left: 10%;
}
.listing-table-body .button-tooltip .button-tooltiptext .popup-message-not-own{
  font-weight: bold;
  color: #ffffff;
  font-size: 1.1em;
  position: absolute;
  bottom: -9%;
  left: 13%;
}


.listings-wishlist-user-owned{
  background-color: #9bcc50;
  border-radius: 50%;
}

.example-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.wrapper{
max-width: 1024px;
}

.wish_list_button, .add_to_trade_list_button, .remove_from_collection_button, .edit_in_collection_button {
  font-size: 30px;
  color: #616161;
}

.wish_list_button:active, .wish_list_button:focus {
  font-size: 30px;
  color: #616161;
}

.wish_list_button_liked{
  color: #ff3d00;
}

.wish_list_button_liked:active, .wish_list_button_liked:focus {
  font-size: 30px;
  color: #ff3d00;
}

.add_to_profile_button img.add_to_profile_button_img{
  height:30px;
  display: inline-block;
}

.add_to_profile_button{
  height:30px;
  width: 30px;
  display: inline-block;
  background-image: url("/icons/pokeball-c.png");
  background-size: cover;
}
/*.add_to_profile_button{
  background-image: '/icons/pokeball-c.png';
}*/

.thumbnail-wrapper img.thumbnail-image{
 object-fit: contain;
 height: 100%;
 width: 100%;
}
.thumbnail{
  background: #F2F2F2;
  transition: all 0.5s ease;
  text-align: center;
}
.thumbnail-wrapper{
  height:200px;
  position:relative;
 
}
.thumbnail:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

.search-bars{
    background: #313131;
    font-family: "Titillium Web",arial,sans-serif;
    font-size: 167.5%;
    color: #fff;
    margin:0px 0px 10px 0px;
    padding:10px 0px;
}
.search-bar-pokedex-label{
  margin-bottom: 5px;
}
.type-bar-pokedex-label{
  display:block;
}
#type_bar_pokedex_chosen{
    border: 3px solid #616161;
    margin-top: 0.325em;
    background-color: #fff;
    border-radius: 5px;
}

.pokemon-type-tag{
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    /*float: left;*/
    text-transform: none;
    font-size: 11px;
    text-align: center;
    display: inline-block;
}
.listing-table-body .pokemon-type-tag{
    width:100%;
    float:left;
    display:inline-block;
}
.pokemon-type-tag-dropdown{
  margin: 5px 0px !important;
}
.background-color-grass{
    background-color: #9bcc50;
    color: #212121;
}
.background-color-poison{
    background-color: #b97fc9;
    color: #fff;

}
.background-color-fire{
    background-color: #fd7d24;
    color: #fff;
}
.background-color-flying{
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}
.background-color-water{
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
}
.background-color-bug{
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff;
}
.background-color-normal{
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}
.background-color-ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}
.background-color-fairy{
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
}
.background-color-psychic{
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
}

.background-color-fighting{
  background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background-color: #d56723;
  color: #fff;
}

.background-color-rock{
  background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background-color: #a38c21;
  color: #fff;
}

.background-color-electric{
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background-color: #eed535;
  color: #212121;
}

.background-color-steel{
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background-color: #9eb7b8;
  color: #212121;
}
.background-color-ice{
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background-color: #51c4e7;
  color: #212121;
}
.background-color-dragon{
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
} 
.background-color-ghost{
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background-color: #7b62a3;
  color: #fff;
}  
      
.col-pokedex {
  width: 20%;
  padding: 0px 5px;
}
.thumbnail {
  margin-bottom: 10px;
}
.caption{
  text-align: center;
  padding: 0px;
}
.listing-table{
  max-width: 1024px;
  margin: auto;
}
.listing-table-body{
  font-family: "Titillium Web",arial,sans-serif;
}
.listing-table-body td div{
  height: 50px;
}
.listing-table-body img.td-icon{
  height: 100%;
}
body{
  background: #fff url("http://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  /*background-image: url("/icons/vancouver.jpg");*/
  padding-top: 70px;
  margin: 0 auto;
}

.popup_add{
  /*display: none;*/
}

.tabs > div{
  display: none;
}

.tabs > div:target {
  display: block;
}

#owned-pokemon-list{

}
#trade-list{

}
#wish-list{

}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  height: 559px; 
  width:500px; 
  margin: auto;
  text-align:center;
}
#add_to_trade_list_popup {
  position: relative;
  background: #FFF;
  /*padding: 20px;*/
  /*width: auto;*/
  /*max-width: 500px;*/
  /*margin: 20px auto;*/
  height: 559px; 
  /*width:500px; */
  /*margin: auto;*/
  /*text-align:center;*/
}

#add_to_trade_list_popup .small-icon{
  height: 80px;
}

.white-popup div{
  margin:auto;
}
.white-popup #popup-add-to-collection-form{
  text-align:left;
}
.white-popup .popup-title{
  font-size:2em;
}
/*.white-popup #popup-add-to-collection-button{
  color:#8ac878;
}*/

.chosen-container.chosen-container-single {
    min-width: 200px !important; /* or any value that fits your needs */
}