.top_bar{
  margin-bottom: 0px
}
.example-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.wrapper{
max-width: 1024px;
}

.wish_list_button, .add_to_profile_button{
 font-size: 20px;
 color: #fac;
}

.add_to_profile_button img.add_to_profile_button_img{
  height:30px;
  display: inline-block;
}

.add_to_profile_button{
  height:30px;
  width: 30px;
  display: inline-block;
  background-image: url("/icons/pokeball-c.png");
  background-size: cover;
}
/*.add_to_profile_button{
  background-image: '/icons/pokeball-c.png';
}*/

.thumbnail-wrapper img.thumbnail-image{
 object-fit: contain;
 height: 100%;
 width: 100%;
}
.thumbnail{
  background: #F2F2F2;
  transition: all 0.5s ease;
  text-align: center;
}
.thumbnail-wrapper{
  height:200px;
  position:relative;
 
}
.thumbnail:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

.search-bars{
    background: #313131;
    font-family: "Titillium Web",arial,sans-serif;
    font-size: 167.5%;
    color: #fff;
    margin:0px 0px 10px 0px;
    padding:10px 0px;
}

#search-bar-pokedex, #type-bar-pokedex{
    height: 40px;
    border: 3px solid #616161;
    margin-top: 0.325em;
    background-color: #fff;
    border-radius: 5px;
}

.pokemon-type-tag{
    font-family: "Flexo-Medium",arial,sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
/*    float: left;*/
    text-transform: none;
    font-size: 11px;
    text-align: center;
    display: inline-block;
}
.pokemon-type-tag-dropdown{
  margin: 5px 0px !important;
}
.background-color-grass{
    background-color: #9bcc50;
    color: #212121;
}
.background-color-poison{
    background-color: #b97fc9;
    color: #fff;

}
.background-color-fire{
    background-color: #fd7d24;
    color: #fff;
}
.background-color-flying{
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}
.background-color-water{
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
}
.background-color-bug{
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff;
}
.background-color-normal{
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}
.background-color-ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}
.background-color-fairy{
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
}
.background-color-psychic{
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
}

.background-color-fighting{
  background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background-color: #d56723;
  color: #fff;
}

.background-color-rock{
  background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background-color: #a38c21;
  color: #fff;
}

.background-color-electric{
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background-color: #eed535;
  color: #212121;
}

.background-color-steel{
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background-color: #9eb7b8;
  color: #212121;
}
.background-color-ice{
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background-color: #51c4e7;
  color: #212121;
}
.background-color-dragon{
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
} 
.background-color-ghost{
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background-color: #7b62a3;
  color: #fff;
}  
      
.col-pokedex {
  width: 20%;
  padding: 0px 5px;
}
.thumbnail {
  margin-bottom: 10px;
}
.caption{
  text-align: center;
  padding: 0px;
}

.listing-table-td{
  height: 50px;
}
.listing-table-td img{
  height: 100%;
}
body{
  background: #fff url("http://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.popup_add{
  /*display: none;*/
}

