<% user = User.find(session[:user_id])%>
<div class="panel panel-default panel-primary">
  <div class="panel-heading">Your pokemons</div>
  <div class="panel-body">
    <div class="row">
      <% user.pokemons.each do |pokemon|%>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>">
              <div class="caption">
                <h3><%= pokemon.name%></h3>
                <!-- <p>...</p> -->
                <p><a href="#" class="btn btn-primary" role="button">Sell</a> <a href="#" class="btn btn-default" role="button">Edit</a></p>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<a href = "/user/<%= user.id%>/pokemon/new" class="btn btn-primary"> Add pokemon </a>
