<% user = User.find(session[:user_id])%>

<div class="panel panel-default col-md-10 col-md-offset-1">

<div>
    <ul class="nav nav-pills nav-justified">
      <li role='presentation'><a href="/profile">Your Pokemons</a></li>
      <li role='presentation'><a href="/profile/tradelist">Trade List</a></li>
      <li role='presentation' class='active'><a href="/profile/wishlist">Wish List</a></li>
    </ul>
  </div>

  <div class="panel-body">
    <div class="row">
      <% user.user_wish_list.pokemons.each do |pokemon|%>
        <div class="col-md-2 col-pokedex">
          <div class="thumbnail">
            <div class= "thumbnail-wrapper">
              <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" >
            </div>

            <div class="notch-collectibles-small thumbnail-actions">
              <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">   
                <!--buttons-->
                <a href="pokemon/add/<%= pokemon.id %>"><span class='glyphicon glyphicon-remove-sign'></span></a>              
              </div>
            </div>

            <div class="caption">
              <%= pokemon.name %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
