<div>
    <ul class="nav nav-pills nav-justified">
      <li role='presentation'><a href="/profile">Your Pokemons</a></li>
      <li role='presentation'><a href="/profile/tradelist">Trade List</a></li>
      <li role='presentation' class='active'><a href="/profile/wishlist">Wish List</a></li>
    </ul>
  </div>

"We are in Wish List!"