<div class="container wrapper">
  <!-- <div class="row"> -->
  <% Species.all.each do |s| %>
    <div class="col-md-2 col-pokedex">
      <div class="thumbnail">
        <div class= "thumbnail-wrapper">
          <img src="<%= s.image_url %>" alt="<%= s.name %>" >
        </div>

        <div class="notch-collectibles-small thumbnail-actions">
          <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">
            <!-- <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection" data-collection="have"><span class="icon icon_collection"></span></a></div>
            <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span class="icon icon_wishlist"></span></a></div>   -->      
            <a href="pokemon/add/<%= s.id %>"><span class='glyphicon glyphicon-plus-sign'></span></a>
            <a href="link to add wishlist page"><span class='glyphicon glyphicon-heart'></span></a>  
          </div>
        </div>

        <div class="caption">
          <%= s.name %>
          <!-- <p>...</p> -->
       <!--    <p><a href="#" class="btn btn-primary" role="button">Sell</a> <a href="#" class="btn btn-default" role="button">Edit</a></p> -->
        </div>
      </div>
    </div>
  <% end%>
  <!-- </div> -->
</div>