<div class="container wrapper">
  <!-- <div class="row"> -->
  <% Species.all.each do |s|%>
    <div class="col-md-2 col-pokedex">
      <div class="thumbnail">
        <div class= "thumbail-wrapper">
          <img src="<%= s.image_url %>" alt="<%= s.name %>" >
        </div>
        <div class="caption">
          <%= s.name%>
          <!-- <p>...</p> -->
       <!--    <p><a href="#" class="btn btn-primary" role="button">Sell</a> <a href="#" class="btn btn-default" role="button">Edit</a></p> -->
        </div>
      </div>
    </div>
  <% end%>
  <!-- </div> -->
</div>