

<% if @search %>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Seller</th>
  </thead>
  <% @search.each do |listing|%>
    <td><%= listing.pokemon.name %></td>
    <td><%= listing.user.username %></td>
  <% end %>
</table>
<% end %>
