<!--entire page div for background image-->
<div id='home'>
  <!--logo-->
  <div>
    <img id='home_logo' src="/images/pokemon_go_logo.png">
  </div>
  <!--empty div to add space-->
  <div class="height_40px"></div>
  <!--content box-->  
  <div class="col-sm-8 col-sm-offset-2" id='home-content'>
    <!--app intro-->
    <div class="intro-text">
      <h1 class='text-center' id="intro-text"><b>Welcome to Pokemon Exchange!</b><br>Online Marketplace for Pokemon Trainers and Traders</h1>
    </div>
    <hr style='background-color:#ccc;height='4px'>
    <div class="col-sm-12"></div>
    <div class='row'>
      <!--features intro-->
      <div class="col-sm-6" id="feature-text">
        <div><span class='glyphicon glyphicon-heart'></span><p>Save Pokemons to your Profile and Wishlist</p></div>
        <div><span class='glyphicon glyphicon-tags'></span><p>List your Pokemons for sale or for trade</p></div>
        <div><span class='glyphicon glyphicon-search'></span><p> Find your dream Pokemon on filtered listings</p></div>
        <div><span class='glyphicon glyphicon-transfer'></span><p> Hazzle free online transactions</p></div>
      </div>
      <!--sign up form-->
      <div class="col-sm-6">
        <div class="panel panel-primary" id='signup-form'>
          <div class="panel-heading">Sign Up Now</div>
          <form class='panel-body' method="" action=''>
            <div class='form-group'>
              <label for='author'>Username:</label>
              <input class='form-control' type='text' id='author' name='author' placeholder='Username'>
            </div>
            <div class='form-group'>
              <label for='title'>Email:</label>
              <input class='form-control' type='text' id='title' name='title' placeholder='Email'>
            </div>
            <div class='form-group'>
              <label for='url'>Password:</label>
              <input class='form-control' type='text' id='url' name='url' placeholder='Password'>
            </div>
            <div class='form-group'>
              <label for='url'>Confirm Password:</label>
              <input class='form-control' type='text' id='url' name='url' placeholder='Password'>
            </div>
            <button class='btn btn-default' type='submit'>Submit</button>
          </form> 
        </div>
      </div>
    </div>
  </div>

</div> 
