

<% if @search %>
<table class="table">
  <thead>
    <th>Pokeman for Sale</th>
    <th>I'm looking for</th>
    <th>Price</th>
  </thead>
  <% @search.each do |listing|%>
    <td><%= listing.pokemon.name %></td>
    <td><%= (pt = listing.pokemon_trade) ? pt.name : nil %></td>
    <td><%= listing.price %></td>
  <% end %>
</table>
<% end %>
