

  <%= erb :'/pokemons/pokedex' %>


<div class="col-md-6">
  <input type="text" class="form-control" placeholder="Search" name="keyword">
</div>

<a href="/pokemon/add/1" class="popup-ajax"> Show inline popup</a>