 <!--search/filter-->
<div class="row search-bars">
  <div class="col-md-offset-4 col-md-5">
    <label class="search-bar-pokedex-label" for="search-bar-pokedex">Search by Name</label>
       <input type="text" class="form-control" id="search_bar_pokedex" placeholder="Search">
  </div>
  <div class="col-md-3">
    <label class="type-bar-pokedex-label" for="type-bar-pokedex">Search by Type</label>
    <select data-placeholder="Choose a type..." class="chosen-select col-md-6" id="type-bar-pokedex" style="width: 200px;" multiple tabindex="2">
      <option value=""></option>
      <% Type.all.order(:name).each do |type|%>
        <option><%= type.name %></option>>
      <% end %>
    </select>
  </div>
</div>