<!DOCTYPE html>
<html>
<head>
<title>SearchPage</title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
<table>
<tr>
<th>Name</th>
<th>Power</th>
<th>Skill</th>
<th>Something</th>
<th>Something</th>
<th>Price</th>
</tr>
<tr>
<td><img src="images/bulbasaur.png" /></td>
<td><img src="images/charmander.png" /></td>
<td><img src="images/ivysaur.png" /></td>
<td><img src="images/butterfree.png" /></td>
<td><img src="images/caterpie.png" /></td>
<td><img src="images/charizard.png" /></td>
</tr>
<tr>
<td><img src="images/charmeleon.png" /></td>
<td><img src="images/kakuna.png" /></td>
<td><img src="images/metapod.png" /></td>
<td><img src="images/squirtle.png" /></td>
<td><img src="images/venusaur.png" /></td>
<td><img src="images/wartortle.png" /></td>
</tr>
<tr>
<td><img src="images/weedle.png" /></td>
<td><img src="images/spearow.png" /></td>
<td><img src="images/sandslash.png" /></td>
<td><img src="images/sandshrew.png" /></td>
<td><img src="images/rattata.png" /></td>
<td><img src="images/raticate.png" /></td>
</tr>
<tr>
<td><img src="images/raichu.png" /></td>
<td><img src="images/pikachu.png" /></td>
<td><img src="images/pidgey.png" /></td>
<td><img src="images/pidgeotto.png" /></td>
<td><img src="images/pidgeot.png" /></td>
<td><img src="images/nidoran.png" /></td>
</tr>
</table>
</body>
</html>