<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Tab: Home-->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class='glyphicon glyphicon-home'></span> Pokemon Exchange</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Tab: Pokedex and Listings-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='top_bar_list'> 
          <a href="/pokedex#pokedex"><span class='glyphicon glyphicon-cd'></span> Pokedex</a>
        </li>
        <li class='top_bar_list'>
          <a href="/listings"><span class='glyphicon glyphicon-search'></span> Listings</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
        <li class='top_bar_list'><a href = "/carts"><span class='glyphicon glyphicon-shopping-cart'></span> Cart</a></li>
      </ul>  

      <% if loggedin? %>
      <ul class="nav navbar-nav navbar-right"> 
        <p class='navbar-text' style='line-height: 20px'><span class='glyphicon glyphicon-user'></span> Welcome, <%= @user.username %></a></p>
        <li class="dropdown top_bar_list">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span> Settings <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">                        
            <li class='dropdown-list'><a href="#">Settings</a></li>
            <li class='dropdown-list'><a href="#">My Wallet ($<%= '%.2f' % (@user.wallet.to_f/100)%>)</a></li>            
            <li class='dropdown-list'><a href="#">Transaction History</a></li>            
            <li role="separator" class="divider"></li>
            <li class='dropdown-list'><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      
      <% else %> <!--Not logged in. Visitor-->
      <ul class="nav navbar-nav navbar-right"> 
        <li>
          <form class='navbar-form' method="post" action="/login">
            <div class='form-group'><input class='form-control' type="text" name="username" placeholder="Username"></div>
            <div class='form-group'><input class='form-control' type="password" name="password" placeholder="Password"></div>
            <span><%= flash[:notice] %></span>                
            <button type="submit" class="btn btn-default">Login</button>     
          </form> 
        </li>
        <li>
        <form style="padding-left: 0;" class='navbar-form' method="get" action="/#signup-form"><button type="submit" class="btn btn-default" name="Register">Register</button></form></li>

      </ul>
    
     
      <% end %>  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>